@import 'flexlayout-react/style/dark.css';
@import 'xterm/css/xterm.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.flexlayout__tabset-selected {
  @apply border-b-2 border-sky-500;
  background-image: unset;
}
/*.flexlayout__tabset_tabbar_inner_tab_container_top {*/
/*  max-width: max-content !important;*/
/*  overflow: hidden !important;*/
/*}*/

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



